.panel.panel-info 
	.panel-heading
		#{@comments_found.count} Comments 
	%table.table.table-striped
		-if @comments_found.count > 0 
			%tbody
				- @comments_found.each do |comment|
					%tr 
						%td= comment.content